@charset "utf-8";
@import "setting";

#result {
  display: inline-block;
//  background-color: #ccc;
}

.bar {
  background-color: red;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
